body {
  margin: 0;
  padding: 0;
  font-family: 'Gentium Plus', serif;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(143, 187, 230, 0.8) 50%, rgba(173, 115, 224, 0.8) 100%);
}

#root {
  position: relative;
  min-height: 100vh;
  color: var(--negro);
  --colorGradiente1: #8FBBE6;
  --colorGradiente2: #AD73E0;
  --sombraGradiente1: #597590;
  --sombraGradiente2: #563970;
  --colorAzul: #8F8FE6;
  --negro: #12171D;
  --blanco:#F1F6FC;
  
}